In [1]:
import yfinance as yf
import pandas as pd
import re
import time
import numpy as np
import holidays
from datetime import datetime, timedelta
import warnings

# Suppress warnings
warnings.filterwarnings("ignore")

SEÑALES DE TRADING PARA HOY CON WEEKLY Y WIDTH MENOS A 2.5

In [28]:
df = pd.read_csv('earnings_tickers_weekly.csv')
df.head(30)

,id,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration
0,1454,123,2025-10-30 12:00:00,0.0,0.0,0.0,MRK,1.0,1
1,194,18,2025-10-15 12:00:00,0.0,0.0,0.0,BAC,1.0,1
2,1455,123,2025-07-29 12:00:00,0.0,0.0,0.0,MRK,1.0,1
3,3653,313,2025-07-28 12:00:00,0.0,0.0,0.0,GNRC,2.5,1
4,842,72,2025-07-17 11:00:00,0.0,0.0,0.0,SLB,1.0,1
5,195,18,2025-07-16 12:00:00,0.0,0.0,0.0,BAC,1.0,1
6,1550,131,2025-07-16 12:00:00,0.0,0.0,0.0,ABT,1.0,1
7,2198,186,2025-07-16 12:00:00,0.0,0.0,0.0,BX,1.0,1
8,3104,264,2025-07-16 12:00:00,0.0,0.0,0.0,DHI,2.5,1
9,3020,257,2025-07-15 20:00:00,0.0,0.0,0.0,DFS,1.0,1
10,290,26,2025-07-15 12:00:00,0.0,0.0,0.0,JNJ,1.0,1
11,1094,93,2025-07-15 10:00:00,0.0,0.0,0.0,KMI,1.0,1
12,674,58,2025-07-14 12:00:00,0.0,0.0,0.0,MS,1.0,1
13,2553,217,2025-07-14 12:00:00,0.0,0.0,0.0,SCHW,1.0,1
14,3737,320,2025-07-14 12:00:00,0.0,0.0,0.0,GS,2.5,1
15,1250,106,2025-07-10 12:00:00,0.0,0.0,0.0,C,1.0,1
16,2757,234,2025-07-01 12:00:00,0.0,0.0,0.0,STZ,2.5,1
17,3665,314,2025-06-24 13:00:00,0.0,0.0,0.0,GIS,1.0,1
18,4307,368,2025-06-18 12:00:00,0.0,0.0,0.0,KR,1.0,1
19,2006,169,2025-06-09 20:00:00,0.0,0.0,0.0,ADSK,2.5,1
20,2354,200,2025-06-03 12:00:00,0.0,0.0,0.0,CPB,1.0,1
21,3044,259,2025-06-03 12:00:00,0.0,0.0,0.0,DLTR,1.0,1
22,2114,178,2025-06-02 12:00:00,0.0,0.0,0.0,BBWI,1.0,1
23,686,59,2025-05-29 20:00:00,0.0,0.0,0.0,NTAP,1.0,1
24,218,20,2025-05-28 13:00:00,0.0,0.0,0.0,BBY,1.0,1
25,3032,258,2025-05-28 12:00:00,0.0,0.0,0.0,DG,1.0,1
26,1442,122,2025-05-27 10:00:00,0.0,0.0,0.0,HPQ,1.0,1
27,1862,157,2025-05-20 11:00:00,0.0,0.0,0.0,ADI,2.5,1
28,2960,252,2025-05-14 12:00:00,0.0,0.0,0.0,DE,2.5,1
29,1910,161,2025-05-14 10:00:00,0.0,0.0,0.0,AMAT,2.5,1

In [29]:
df['earnings_date'] = pd.to_datetime(df['earnings_date'])
df.dtypes

id                            int64
ticker_id                     int64
earnings_date        datetime64[ns]
eps_estimate                float64
reported_eps                float64
surprise                    float64
ticker                       object
strike_width                float64
weekly_expiration             int64
dtype: object

In [30]:
def print_tickers_within_date_range(df, start_date, end_date):
    # Convert the start and end dates to datetime objects for comparison
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filter the DataFrame based on the date range
    earnings_today = df[(df['earnings_date'] >= start_date) & (df['earnings_date'] <= end_date)]

    # Print all the tickers from the filtered list
    tickers = earnings_today['ticker'].tolist()
    for ticker in tickers:
        print(ticker)

In [31]:
start_date = '2024-07-25 20:00:00'
end_date = '2024-07-26 12:00:00'

print_tickers_within_date_range(df, start_date, end_date)

CNC
CL
CHTR
DXCM
DLR

In [6]:
start_date = '2024-07-25 20:00:00'
end_date = '2024-07-26 12:00:00'

earnings_today = df[(df['earnings_date'] >= start_date) & (df['earnings_date'] <= end_date)]
earnings_today

,id,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration
380,2496,212,2024-07-26 12:00:00,1.96,0.0,0.0,CNC,1.0,1
381,2724,231,2024-07-26 12:00:00,0.87,0.0,0.0,CL,1.0,1
382,2568,218,2024-07-26 11:00:00,7.98,0.0,0.0,CHTR,2.5,1
383,2987,254,2024-07-25 20:00:00,0.39,0.0,0.0,DXCM,1.0,1
384,3011,256,2024-07-25 20:00:00,0.24,0.0,0.0,DLR,2.5,1

SP500_INDEX

In [87]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Function to scrape S&P 500 tickers from Wikipedia
def get_sp500_tickers():
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table', {'id': 'constituents'})
    
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text.strip()
        tickers.append(ticker)
    
    return tickers

# Get the list of S&P 500 tickers
sp500_tickers = get_sp500_tickers()

# Print the list of tickers
sp500_tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'BXP',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CPAY',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CRWD',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DECK',
 'DE',
 'DAL',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GE',
 'GEHC',
 'GEV',
 'GEN',
 'GNRC',
 'GD',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GDDY',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'DOC',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KKR',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LLY',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SW',
 'SNA',
 'SOLV',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SMCI',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VTRS',
 'VICI',
 'V',
 'VST',
 'VMC',
 'WRB',
 'GWW',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WY',
 'WMB',
 'WTW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZTS']

In [88]:
# Fetch market cap data from Yahoo Finance for each ticker
market_caps = []
for ticker in sp500_tickers:
    try:
        stock = yf.Ticker(ticker)
        info = stock.info
        market_caps.append({
            'Ticker': ticker,
            'Company': info.get('longName', ticker),
            'Market_Cap': info.get('marketCap', 0)
        })
    except KeyError:
        print(f"Data for ticker {ticker} not found. Skipping.")
    except Exception as e:
        print(f"An error occurred for ticker {ticker}: {e}. Skipping.")

In [89]:
df_capital = pd.DataFrame(market_caps)
df_capital = df_capital.sort_values(by='Market_Cap', ascending=False)
total_market_cap = df_capital['Market_Cap'].sum()
df_capital['Percentage'] = (df_capital['Market_Cap'] / total_market_cap) * 100
df_capital['Percentage'] =  round(df_capital['Percentage'],2)
df_capital.rename(columns={'Ticker': 'ticker'}, inplace=True)
df_capital.head(20)

    ticker                          Company     Market_Cap  Percentage
39    AAPL                       Apple Inc.  3358397825024        6.70
320   MSFT            Microsoft Corporation  3224061607936        6.43
350   NVDA               NVIDIA Corporation  2902230564864        5.79
20    GOOG                    Alphabet Inc.  2173506027520        4.34
19   GOOGL                    Alphabet Inc.  2173130113024        4.34
22    AMZN                 Amazon.com, Inc.  1908362313728        3.81
314   META             Meta Platforms, Inc.  1196240273408        2.39
290    LLY            Eli Lilly and Company   770989817856        1.54
74    AVGO                    Broadcom Inc.   727557734400        1.45
444   TSLA                      Tesla, Inc.   693874262016        1.38
269    JPM             JPMorgan Chase & Co.   597769715712        1.19
483    WMT                     Walmart Inc.   567833722880        1.13
476      V                        Visa Inc.   518420332544        1.03
188    XOM          Exxon Mobil Corporation   512741801984        1.02
465    UNH  UnitedHealth Group Incorporated   510279843840        1.02
307     MA          Mastercard Incorporated   400166715392        0.80
381     PG     The Procter & Gamble Company   392042872832        0.78
359   ORCL               Oracle Corporation   389513248768        0.78
132   COST     Costco Wholesale Corporation   372173078528        0.74
267    JNJ                Johnson & Johnson   370989727744        0.74

In [90]:
df_all_market_earnings = pd.read_csv('all_market_earnings.csv')
df_all_market_earnings

,id,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration
0,2,2,2025-06-10 20:00:00,0.00,0.00,0.0000,AVGO,5.0,1
1,3,2,2025-03-05 10:00:00,0.00,0.00,0.0000,AVGO,5.0,1
2,4,2,2024-12-05 21:00:00,0.00,0.00,0.0000,AVGO,5.0,1
3,5,2,2024-08-29 10:00:00,1.20,0.00,0.0000,AVGO,5.0,1
4,6,2,2024-06-12 20:00:00,10.84,10.96,0.0107,AVGO,5.0,1
...,...,...,...,...,...,...,...,...,...
6505,6507,554,2023-08-08 11:00:00,1.32,1.41,0.0719,ZTS,NaN,0
6506,6508,554,2023-05-04 11:00:00,1.26,1.31,0.0389,ZTS,NaN,0
6507,6509,554,2023-02-14 12:00:00,1.05,1.15,0.0990,ZTS,NaN,0
6508,6510,554,2022-11-03 11:00:00,1.24,1.21,-0.0207,ZTS,NaN,0
6509,6511,554,2022-08-04 11:00:00,1.22,1.20,-0.0150,ZTS,NaN,0

In [91]:
df_all_market_earnings['earnings_date'] = pd.to_datetime(df_all_market_earnings['earnings_date'])
df_all_market_earnings.dtypes

id                            int64
ticker_id                     int64
earnings_date        datetime64[ns]
eps_estimate                float64
reported_eps                float64
surprise                    float64
ticker                       object
strike_width                float64
weekly_expiration             int64
dtype: object

In [92]:
# Create the 'date' column based on the 'earnings_date' column
df_all_market_earnings['date'] = df_all_market_earnings['earnings_date'].apply(
    lambda x: x.date() - pd.Timedelta(days=1) if x.time() <= pd.Timestamp('13:00:00').time() else x.date()
)
#df_all_market_earnings['date'] = df_all_market_earnings['earnings_date'].dt.date

In [93]:
df_all_market_earnings.head()

,id,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration,date
0,2,2,2025-06-10 20:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-06-10
1,3,2,2025-03-05 10:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-03-04
2,4,2,2024-12-05 21:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2024-12-05
3,5,2,2024-08-29 10:00:00,1.20,0.00,0.0000,AVGO,5.0,1,2024-08-28
4,6,2,2024-06-12 20:00:00,10.84,10.96,0.0107,AVGO,5.0,1,2024-06-12

In [94]:
# Group by 'date' and aggregate tickers and count the number of rows for each date
date_counts = df_all_market_earnings.groupby('date').agg(
    counts=('ticker', 'size'),
    tickers=('ticker', lambda x: ', '.join(x))
).reset_index()

# Sort the DataFrame by 'counts' in descending order
date_counts = date_counts.sort_values(by='counts', ascending=False).reset_index(drop=True)

In [95]:
date_counts.head(20)

          date  counts                                            tickers
0   2023-11-01      75  LANC, COP, LNG, PLTR, ELF, QCOM, LNC, SHOP, MA...
1   2023-04-26      74  MO, ABBV, CAT, META, NEM, LLY, LIN, SPSC, EME,...
2   2023-07-26      73  ABBV, META, LIN, EME, MA, MCD, EXLS, CMCSA, HP...
3   2024-10-30      69  MO, LANC, COP, LNG, AAPL, MCHP, PLTR, QCOM, LN...
4   2022-07-27      68  MO, META, PFE, QCOM, LIN, SPSC, EME, MA, F, EX...
5   2024-07-31      66  COP, META, QCOM, LNC, FOUR, TNK, FICO, RACE, E...
6   2024-05-01      65  DVN, LANC, QCOM, LIN, EXC, EXLS, NVO, AFL, ALB...
7   2025-04-29      63  LANC, COP, AAPL, QCOM, LNC, TXRH, EXC, EXLS, N...
8   2023-08-02      61  COP, LNG, QCOM, LNC, FOUR, SHOP, TNK, FICO, MC...
9   2023-10-25      61  MO, META, NEM, LIN, EME, MA, EXLS, CMCSA, MRK,...
10  2024-10-23      59  DECK, ENPH, AMZN, RSG, NEM, SPSC, EME, TXRH, M...
11  2023-05-03      58  LANC, COP, QCOM, FOUR, SHOP, SEDG, RACE, ALB, ...
12  2022-10-26      58  MO, CAT, META, SHOP, LIN, EME, MA, MCD, F, EXL...
13  2024-04-24      55  MO, CAT, META, NEM, EME, F, CMCSA, HP, MRK, GS...
14  2022-08-03      54  JCI, COP, LNG, ELF, LNC, FOUR, TNK, LLY, FICO,...
15  2024-07-24      54  ABBV, MCRI, RSG, NEM, EME, F, HP, GSHD, GGG, A...
16  2022-11-02      53  JCI, LANC, COP, LNG, ELF, QCOM, LNC, MAR, TNK,...
17  2025-04-27      49  MMM, HUBB, AMZN, AMD, LSCC, NXPI, RSG, MPC, LL...
18  2024-04-30      47  JCI, AMZN, AMD, KAI, EEFT, EEFT, PFE, RSG, MAR...
19  2024-10-29      46  KAI, LLY, SEDG, MCK, AFL, ABNB, ALB, AIG, ANSS...

In [96]:
# Ensure 'ticker' column exists in both DataFrames
if 'ticker' in df_all_market_earnings.columns and 'ticker' in df_capital.columns:
    df_all_market_earnings = df_all_market_earnings.merge(df_capital[['ticker', 'Percentage']], on='ticker', how='left')
else:
    print("One or both DataFrames do not have the 'ticker' column")

In [99]:
#df_all_market_earnings.drop(columns=['Percentage_y'], inplace=True)
df_all_market_earnings.drop(columns=['id'], inplace=True)
df_all_market_earnings.rename(columns={'Percentage_x': 'Percentage'}, inplace=True)

,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration,date,Percentage
0,2,2025-06-10 20:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-06-10,1.45
1,2,2025-03-05 10:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-03-04,1.45
2,2,2024-12-05 21:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2024-12-05,1.45
3,2,2024-08-29 10:00:00,1.20,0.00,0.0000,AVGO,5.0,1,2024-08-28,1.45
4,2,2024-06-12 20:00:00,10.84,10.96,0.0107,AVGO,5.0,1,2024-06-12,1.45
5,2,2024-03-07 21:00:00,10.29,10.99,0.0678,AVGO,5.0,1,2024-03-07,1.45
6,2,2023-12-07 21:00:00,10.98,11.06,0.0071,AVGO,5.0,1,2023-12-07,1.45
7,2,2023-08-31 20:00:00,10.42,10.54,0.0112,AVGO,5.0,1,2023-08-31,1.45
8,2,2023-06-01 20:00:00,10.08,10.32,0.0236,AVGO,5.0,1,2023-06-01,1.45
9,2,2023-03-02 21:00:00,10.10,10.33,0.0226,AVGO,5.0,1,2023-03-02,1.45
10,2,2022-12-08 21:00:00,10.28,10.45,0.0165,AVGO,5.0,1,2022-12-08,1.45
11,2,2022-09-01 20:00:00,9.56,9.73,0.0175,AVGO,5.0,1,2022-09-01,1.45
12,3,2025-05-28 20:00:00,0.00,0.00,0.0000,COST,10.0,1,2025-05-28,0.74
13,3,2025-03-05 21:00:00,0.00,0.00,0.0000,COST,10.0,1,2025-03-05,0.74
14,3,2024-12-12 21:00:00,0.00,0.00,0.0000,COST,10.0,1,2024-12-12,0.74
15,3,2024-09-26 20:00:00,5.04,0.00,0.0000,COST,10.0,1,2024-09-26,0.74
16,3,2024-05-30 20:00:00,3.70,3.78,0.0210,COST,10.0,1,2024-05-30,0.74
17,3,2024-03-07 21:00:00,3.62,3.92,0.0824,COST,10.0,1,2024-03-07,0.74
18,3,2023-12-14 21:00:00,3.42,3.58,0.0469,COST,10.0,1,2023-12-14,0.74
19,3,2023-09-26 20:00:00,4.79,4.86,0.0147,COST,10.0,1,2023-09-26,0.74

In [102]:
df = df_all_market_earnings.copy()
df.head(30)

,ticker_id,earnings_date,eps_estimate,reported_eps,surprise,ticker,strike_width,weekly_expiration,date,Percentage
0,2,2025-06-10 20:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-06-10,1.45
1,2,2025-03-05 10:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2025-03-04,1.45
2,2,2024-12-05 21:00:00,0.00,0.00,0.0000,AVGO,5.0,1,2024-12-05,1.45
3,2,2024-08-29 10:00:00,1.20,0.00,0.0000,AVGO,5.0,1,2024-08-28,1.45
4,2,2024-06-12 20:00:00,10.84,10.96,0.0107,AVGO,5.0,1,2024-06-12,1.45
5,2,2024-03-07 21:00:00,10.29,10.99,0.0678,AVGO,5.0,1,2024-03-07,1.45
6,2,2023-12-07 21:00:00,10.98,11.06,0.0071,AVGO,5.0,1,2023-12-07,1.45
7,2,2023-08-31 20:00:00,10.42,10.54,0.0112,AVGO,5.0,1,2023-08-31,1.45
8,2,2023-06-01 20:00:00,10.08,10.32,0.0236,AVGO,5.0,1,2023-06-01,1.45
9,2,2023-03-02 21:00:00,10.10,10.33,0.0226,AVGO,5.0,1,2023-03-02,1.45
10,2,2022-12-08 21:00:00,10.28,10.45,0.0165,AVGO,5.0,1,2022-12-08,1.45
11,2,2022-09-01 20:00:00,9.56,9.73,0.0175,AVGO,5.0,1,2022-09-01,1.45
12,3,2025-05-28 20:00:00,0.00,0.00,0.0000,COST,10.0,1,2025-05-28,0.74
13,3,2025-03-05 21:00:00,0.00,0.00,0.0000,COST,10.0,1,2025-03-05,0.74
14,3,2024-12-12 21:00:00,0.00,0.00,0.0000,COST,10.0,1,2024-12-12,0.74
15,3,2024-09-26 20:00:00,5.04,0.00,0.0000,COST,10.0,1,2024-09-26,0.74
16,3,2024-05-30 20:00:00,3.70,3.78,0.0210,COST,10.0,1,2024-05-30,0.74
17,3,2024-03-07 21:00:00,3.62,3.92,0.0824,COST,10.0,1,2024-03-07,0.74
18,3,2023-12-14 21:00:00,3.42,3.58,0.0469,COST,10.0,1,2023-12-14,0.74
19,3,2023-09-26 20:00:00,4.79,4.86,0.0147,COST,10.0,1,2023-09-26,0.74
20,3,2023-05-25 20:00:00,3.29,2.93,-0.1102,COST,10.0,1,2023-05-25,0.74
21,3,2023-03-02 21:00:00,3.21,3.30,0.0288,COST,10.0,1,2023-03-02,0.74
22,3,2022-12-08 21:00:00,3.11,3.10,-0.0045,COST,10.0,1,2022-12-08,0.74
23,3,2022-09-22 20:00:00,4.17,4.20,0.0084,COST,10.0,1,2022-09-22,0.74
24,4,2025-05-21 20:00:00,0.00,0.00,0.0000,DECK,5.0,0,2025-05-21,0.04
25,4,2025-01-30 10:00:00,0.00,0.00,0.0000,DECK,5.0,0,2025-01-29,0.04
26,4,2024-10-24 10:00:00,0.00,0.00,0.0000,DECK,5.0,0,2024-10-23,0.04
27,4,2024-07-25 20:00:00,3.44,0.00,0.0000,DECK,5.0,0,2024-07-25,0.04
28,4,2024-05-23 20:00:00,2.89,4.95,0.7146,DECK,5.0,0,2024-05-23,0.04
29,4,2024-02-01 21:00:00,11.48,15.11,0.3166,DECK,5.0,0,2024-02-01,0.04

In [104]:
# Group by 'date' and perform the required aggregations
date_counts = df.groupby('date').agg(
    players=('ticker', lambda x: list(x)),          # Aggregate tickers into a list
    counts=('ticker', 'size'),                      # Count the number of rows for each date
    impact=('Percentage', 'sum')                    # Calculate the sum of 'Percentage' for each date
).reset_index()

           date          players  counts  impact
0    2020-11-11            [GFI]       1    0.00
1    2021-02-17            [GFI]       1    0.00
2    2021-07-22            [HON]       1    0.28
3    2021-07-27             [BG]       1    0.03
4    2021-07-28        [KIM, LH]       2    0.07
..          ...              ...     ...     ...
680  2026-01-15       [PNC, TFC]       2    0.26
681  2026-01-19            [KEY]       1    0.03
682  2026-01-20  [CFG, MTB, USB]       3    0.24
683  2026-01-21           [HBAN]       1    0.04
684  2026-04-22           [HBAN]       1    0.04

[685 rows x 4 columns]

In [106]:
date_counts = date_counts.sort_values(by='impact', ascending=False).reset_index(drop=True)

# Display the resulting DataFrame
date_counts.head(30)

,date,players,counts,impact
0,2023-02-02,"[DECK, GOOG, AMZN, GOOGL, AAPL, MCHP, QCOM, SB...",22,21.16
1,2022-07-26,"[GOOG, ENPH, GOOGL, MSFT, TMUS, SHOP, TXN, BA,...",45,20.64
2,2024-04-25,"[GOOG, INTC, ABBV, GOOGL, MSFT, TMUS, CVX, XOM...",40,20.49
3,2025-04-23,"[GOOG, INTC, ABBV, GOOGL, MSFT, TMUS, CVX, TSL...",29,20.46
4,2023-10-24,"[GOOG, GOOGL, MSFT, TMUS, TXN, BA, GD, APH, AD...",33,20.26
5,2023-07-25,"[GOOG, GOOGL, T, MSFT, EEFT, TXN, BA, GD, ALLE...",30,20.21
6,2022-10-25,"[GOOG, ENPH, GOOGL, MSFT, TXN, BA, GD, AMP, AP...",41,20.04
7,2023-04-25,"[GOOG, ENPH, GOOGL, MSFT, TXN, BA, GD, ALLE, A...",38,19.90
8,2024-01-30,"[GOOG, AMD, GOOGL, MSFT, MA, SBUX, BA, NVO, AP...",34,19.46
9,2025-01-28,"[GOOG, AMD, GOOGL, MSFT, MA, BA, AFL, ADP, AVY...",26,18.48
10,2024-02-01,"[DECK, ABBV, AMZN, AAPL, META, MCHP, CVX, XOM,...",22,16.45
11,2022-10-27,"[DECK, INTC, ABBV, AMZN, AAPL, RSG, TMUS, CVX,...",38,15.89
12,2022-07-28,"[DECK, INTC, ABBV, AMZN, AAPL, CVX, XOM, TXRH,...",35,15.69
13,2024-10-22,"[GOOG, GOOGL, META, TMUS, BA, GD, GSHD, GGG, A...",43,15.33
14,2024-07-23,"[GOOG, ENPH, GOOGL, T, TSLA, TXN, NEE, GD, ALL...",30,14.42
15,2024-08-01,"[INTC, AMZN, SQ, AAPL, MCHP, CVX, XOM, AES, LN...",33,14.17
16,2023-08-03,"[AMZN, SQ, AAPL, MCHP, FTNT, GILD, AES, ABNB, ...",31,13.10
17,2024-10-30,"[MO, LANC, COP, LNG, AAPL, MCHP, PLTR, QCOM, L...",69,12.70
18,2024-10-21,"[MMM, MSFT, PHM, TXN, NEE, HAL, ADM, CB, KO, G...",30,12.14
19,2025-04-29,"[LANC, COP, AAPL, QCOM, LNC, TXRH, EXC, EXLS, ...",63,11.70
20,2023-04-26,"[MO, ABBV, CAT, META, NEM, LLY, LIN, SPSC, EME...",74,11.67
21,2025-01-30,"[AAPL, META, CVX, XOM, TECH, CBOE, CHTR, CHD, ...",17,11.63
22,2024-07-30,"[MO, JCI, AMD, MSFT, TMUS, MAR, MA, SBUX, BA, ...",44,11.62
23,2025-04-27,"[MMM, HUBB, AMZN, AMD, LSCC, NXPI, RSG, MPC, L...",49,10.14
24,2023-07-26,"[ABBV, META, LIN, EME, MA, MCD, EXLS, CMCSA, H...",73,10.04
25,2023-01-24,"[T, MSFT, TXN, NEE, BA, GD, ABT, APH, COF, ELV...",21,9.60
26,2022-07-27,"[MO, META, PFE, QCOM, LIN, SPSC, EME, MA, F, E...",68,9.15
27,2023-10-25,"[MO, META, NEM, LIN, EME, MA, EXLS, CMCSA, MRK...",61,8.85
28,2024-10-23,"[DECK, ENPH, AMZN, RSG, NEM, SPSC, EME, TXRH, ...",59,8.81
29,2024-05-02,"[SQ, COP, LNG, AAPL, LNC, TXRH, FTNT, AES, LNT...",30,8.77