In [1]:
import requests
import pandas as pd
import ivolatility as ivol
import matplotlib.pyplot as plt

# ivolatility connection
apiKey = 'fFF8EEL54op7k0DN'
ivol.setLoginParams(apiKey=apiKey)

In [2]:
# endpong method
endpoint = '/equities/eod/stock-prices'
getMarketData = ivol.setMethod(endpoint)
df = getMarketData(symbol='TSLA', from_='2010-04-01', to='2024-04-30')

In [3]:
df

,record_no,date,symbol,exchange,open,high,low,close,volume,unadjusted_close
0,1,2024-04-19 00:00:00.0,TSLA,NASDAQ,148.970000,150.940000,146.220000,147.050000,85936497,147.050000
1,2,2024-04-18 00:00:00.0,TSLA,NASDAQ,151.250000,152.200000,148.700000,149.930000,93997997,149.930000
2,3,2024-04-17 00:00:00.0,TSLA,NASDAQ,157.640000,158.330000,153.780000,155.450000,81773285,155.450000
3,4,2024-04-16 00:00:00.0,TSLA,NASDAQ,156.742000,158.190000,153.750000,157.110000,96505497,157.110000
4,5,2024-04-15 00:00:00.0,TSLA,NASDAQ,170.240000,170.690000,161.380000,161.480000,98675470,161.480000
...,...,...,...,...,...,...,...,...,...,...
3471,3472,2010-07-06 00:00:00.0,TSLA,NASDAQ,1.333333,1.333333,1.055333,1.074000,103003504,16.110000
3472,3473,2010-07-02 00:00:00.0,TSLA,NASDAQ,1.533333,1.540000,1.247333,1.280000,77097000,19.200000
3473,3474,2010-07-01 00:00:00.0,TSLA,NASDAQ,1.666667,1.728000,1.351333,1.464000,123282000,21.959997
3474,3475,2010-06-30 00:00:00.0,TSLA,NASDAQ,1.719333,2.028000,1.553333,1.588667,257806512,23.829998
3475,3476,2010-06-29 00:00:00.0,TSLA,NASDAQ,1.266667,1.666667,1.169333,1.592667,281494528,23.890000

In [4]:
getMarketData = ivol.setMethod('/equities/eod/hv')
marketData = getMarketData(symbol='AAPL', date='2021-12-16')
marketData

,record_no,symbol,exchange,date,price,10d HV,20d HV,30d HV,60d HV,90d HV,120d HV,150d HV,180d HV
0,1,AAPL,NASDAQ,2021-12-16,172.26,0.400359,0.344236,0.294668,0.245196,0.236368,0.225542,0.215056,0.22135

In [7]:
getMarketData = ivol.setMethod('/equities/eod/single-stock-option-raw-iv')
marketData = getMarketData(symbol='AAPL', date='2021-12-16')
marketData

403 {"code":403,"name":"Forbidden","message":"You don't have the required tariff, access is denied"}

Empty DataFrame
Columns: []
Index: []

In [ ]:
getMarketData = ivol.setMethod('/equities/eod/ivx')
marketData = getMarketData(symbol='AAPL', date='2021-12-16')
marketData

In [ ]:

getMarketData = ivol.setMethod('/equities/eod/iv')
marketData = getMarketData(symbol='AAPL', date='2021-12-16')
marketData

In [ ]:
getMarketData = ivol.setMethod('/equities/underlying-info')
marketData = getMarketData(symbol='AAPL')
marketData

In [ ]:
marketData = getMarketData(symbol='AAPL', from_='2021-12-10', to='2021-12-17')
marketData

In [ ]:
getMarketData = ivol.setMethod('/equities/option-series')
marketData = getMarketData(symbol='AAPL', expFrom='2024-10-01', expTo='2026-10-30', strikeFrom=100, strikeTo=300, callPut='C')
marketData

In [ ]:
getMarketData = ivol.setMethod('/equities/yield')
marketData = getMarketData(symbol='SPX')
marketData

In [ ]:
getMarketData = ivol.setMethod('/equities/eod/single-stock-option')
marketData = getMarketData(symbol='SPX   251219C04100000', from_='2021-12-16', to='2021-12-17')
marketData

In [ ]:
getOptionsChain = ivol.setMethod('/equities/option-series') 
optionsChain = getOptionsChain(symbol='SPX', expFrom='2021-12-23', expTo='2025-12-23', strikeFrom=3000, strikeTo=3010, callPut='C') 
optionsChain

In [ ]:
getOptionsChain = ivol.setMethod('/equities/eod/option-series-on-date') 
optionsChain = getOptionsChain(symbol='SPX', expFrom='2021-12-23', expTo='2025-12-23', strikeFrom=3000, strikeTo=3025, callPut='C', date='2021-09-15') 
print(optionsChain)

In [ ]:
allData = pd.DataFrame() 
getMarketData = ivol.setMethod('/equities/eod/single-stock-option') 
for optionSymbol in optionsChain['optionSymbol']: 
    marketData = getMarketData(symbol=optionSymbol, from_='2021-09-01', to='2021-09-15') 
    allData = pd.concat([allData, marketData], axis=0) 
allData

In [ ]:
allData

In [ ]:
def fetch_eod_stock_prices(api_key, symbol, date):
    url = f"https://restapi.ivolatility.com/equities/eod/stock-prices?apiKey={api_key}&symbol={symbol}&date={date}"
    response = requests.get(url)
    data = response.json()
    # Assuming the relevant data is under the 'data' key
    df = pd.DataFrame(data['data'])
    return df

# Example usage:
df = fetch_eod_stock_prices('fFF8EEL54op7k0DN', 'AAPL', '2021-12-16')
print(df)

In [ ]:

# OR:
ivol.setLoginParams(username={your_IVol_username}, password={your_IVol_password}) 

# For example we have a task to find "E mini S&P 500 futures" - first step is localized required futures root 
getFutData = ivol.setMethod('/futures/eod/futures-info')
futDataRaw = getFutData(date='2023-11-01',underlyingName='E%Mini%S%P%500%')
print(futDataRaw) 


'''
According to the list from the print, the most suitable one looks like futrootsymbol = "ES" 
and MIC = "XCME" (Chicago Mercantile Exchange)
'''

futuresNeed = getFutData(date='2023-11-01',rootSymbol='ES', MIC = 'XCME')

# Let's now find the prices for these futures for period from '2023-11-01' to '2023-11-10'
geFutPriceData = ivol.setMethod('/futures/single-futures')

finalFutData = pd.DataFrame() 
for futSymbol in futuresNeed['futsymbol']: 
    futPriceData = geFutPriceData(symbol=futSymbol, from_='2023-11-01', to='2023-11-10')  
    finalFutData = pd.concat([finalFutData, futPriceData], axis=0) finalFutData

finalFutData